body{
    margin: 0;
}

.title-container {
    background-color: rgb(23, 22, 29);
    text-align: left;
    padding-left: 2rem;
    height: 18rem;
    width: 100%;
    position: relative; 
    top: 0; 
    margin: 0;
    display: block;
}

.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6rem;
    color: rgb(196, 25, 25);
}

.sub-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.9rem;
    font-weight: bold;
    color: rgb(196, 25, 25);
}

.sub-title-l{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.2rem;
    color: rgb(196, 25, 25);
}

.objective-text{
    font-size: 1.45rem;
    font-weight: bold;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 5.8s forwards;
}

.fade-in-l {
    opacity: 0;
    animation: fadeInAnimation 3.8s forwards;
}

.fade-in-ll {
    opacity: 0;
    animation: fadeInAnimation 1.6s forwards;
}

.red-block{
    background-color: rgb(196, 25, 25);
    width: 180rem;
    height:100;
    padding: 2rem;
}

.black-block{
    background-color: rgb(46, 45, 56);
    color: whitesmoke!important;
    padding-left: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 1.199rem;
    height: 100;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.white-block{
    background-color: white;
    padding: 2rem;
    height: 32rem;
}

.margin-right-adj-l{
    margin-right: 2rem;
}

.margin-top-adj-l{
    margin-top: 2rem;
}

.ml-adj {
    margin-left: 2rem;
}

.d-block-adj{
    display: block;
}

.d-flex-adj{
    display: flex;
}

.white-adj{
    color: whitesmoke!important;
}

.chart-container canvas{
    max-width: 25rem;
    max-height: 25rem;
    text-align: center;
    align-items: center;
    flex-direction: row;
    display: flex;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .title-container{
        height: 10rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .title {
        font-size: 2.4rem;
        text-align:left;
    }
    .sub-title-l {
        font-size: 2.25rem;
    }
    .sub-title-l img{
        max-width: 20rem;
        max-height: 10rem;
    }
    .d-flex-adj{
        display: block;
    }
    .white-block{
        width: auto;
        height: 25rem;
    }
    .chart-container canvas{
        max-width: 20rem;
        max-height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .black-block{
        padding-bottom: 2rem;
        position: relative;
    }
    .red-block{
        width: 100%;
        margin-top: 0;
    }
    .objective-text{
        font-size: 1rem;
    }
}